*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(154.5deg,rgb(0, 128, 255) 50%,rgb(255, 0, 93) 50%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: auto;
    position: relative;
}

@keyframes box{

    0%{
        margin-top: -800px;
        opacity: 0%;
        scale: 0.8;
    }

    100%{
        margin-top: 0;
        opacity: 100%;
        scale: 1;
    }

}

.box {
    width: 320px;
    height: 450px;
    background: rgb(255 255 255 / 60%);
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    box-shadow: 2px 3px 14px rgb(77, 73, 73);
    overflow: hidden;
    animation-name: box;
    animation-duration: 0.9s;
    animation-iteration-count: 1;
}

.box:hover {
    transform: translate(0px, -5px) scale(1.08);
    border-radius: 20px;
    box-shadow: 3px 4px 24px rgb(77, 73, 73);
}

.box:hover .fa-brands{
    transform: scale(0.9);
}

img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

@keyframes box1{
    0%{
        margin-top: -800px;
        opacity: 0%;
        scale: 0.8;
    }

    100%{
        opacity: 100%;
        margin-top: 0;
        scale: 1.08;
    }
}

.box1{
    order: 2;
    scale: 1.08;
    animation-name: box1;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
}

.box2{
    order: 1;
}

.box3{
    order: 3;
}

.box1 img{
    object-position: top;
}

h2{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #333;
    letter-spacing: 1px;
}

p{
    text-align: center;
    padding: 10px;
    padding-top: 0;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.icon_area_div {
    background: rgb(255 0 89 / 69%);
    height: 52px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes notify{
    0%{
        width: 1px;
        opacity: 0.1;
    }
    100%{
        width: 500px;
        opacity: 0.5;
    }
}

.NB{ 
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    color: #333;
    position: absolute;
    overflow: hidden;
    bottom: 10px;
    background: rgb(255 255 255 / 60%);
    transition: all 0.5s;
    opacity: 0.5;
    animation-name: notify;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.NBj{
    text-align: center;
    width: 495px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-weight: normal;
}

.NB:hover{
    opacity: 1;
}

.NB .fa-solid{
    padding-right: 0px 5px ;
}


.fa-brands{
    font-size: 25px;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 1100px) {
    body{
        background: linear-gradient(90deg,rgb(0, 128, 255) 50%,rgb(255, 0, 93) 50%);
    }
    .box {
        margin: 40px;
    }

    .box1{
        order: 1;
        scale: 1;
    }
    .box2{
        order: 2;
    }
    .box3{
        order: 3;
        margin-bottom: 90px;
    }

    .NB{
        position: absolute;
        bottom: 10px;
    }
    .NBj{
        width: auto;
    }
}

@media (max-width: 500px) {

    .NB{
        bottom: 10px;
        max-width: 400px; 
    }
}
